.bg-green {
	background: #4AC990;
}

.bg-white {
	background: #FFF;
}

.text-green {
	color: #4AC990;
}

.text-red {
	color: #e85542;
}

.text-white {
	color: #FFF;
}

h2 {
	font-size: 36px;
}

p {
	color: #666666;
	font-size: 18px;
}



img {
	vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* feature */
.feature {
	width: 100%;
	background: #4AC990 url(../image/bg_feature.jpg);
  	background-size: cover;
  	min-height: 800px;
}
.feature .text-block {
	margin-top: 220px;
}

.feature .case-block {
	width: 300px;
}

.feature .screen-block {
	margin-top: 60px;
}

.feature .screen-block .img-case {
	position: absolute;
	z-index: 99999;
}

.feature .screen-block .carousel {
	width: 298px;
  	margin-left: 3px;
}

.feature .screen-block .carousel-indicators {
	bottom: -130px;
}

.feature .screen-block .carousel-inner img {
	width: 260px;
	height: 462px;
 	margin-top: 73px;
  	margin-left: 17px;
}


.feature .img-slogan {
	background: url(../image/img_slogan.png);
	background-size: 341px 49px;
  	text-indent: -9999px;
  	background-repeat: no-repeat;
  	height: 49px;
  	width: 341px;
}
.feature .img-logo {
	background: url(../image/img_logo.png);
	background-size: 421px 61px;
  	text-indent: -9999px;
  	background-repeat: no-repeat;
  	height: 61px;
  	width: 421px;
}

.feature .btn-block {
	width: 410px;
	height: 75px;
	display: block;
}

.feature .btn-appstore {
	background: url(../image/btn-appstore.png);
  	background-repeat: no-repeat;
	background-size: 200px 60px;
	width: 200px;
	height: 60px;
	float: left;
}

.feature .btn-googleplay {
	background: url(../image/btn_googleplay.png);
  	background-repeat: no-repeat;
	background-size: 200px 60px;
	width: 200px;
	height: 60px;
	margin-left: 10px;
	float: left;
}

@media (max-width: 991px) {
	.feature {
	  	min-height: 1000px;
	}
	.feature .text-block {
		margin-top: 30px;
	}

	.feature .screen-block {
		margin-top: 60px;
	}
	.feature .case-block {
		margin: 0 auto;
	}
	.feature .img-slogan {
		background-size: 200px 29px;
	  	height: 29px;
	  	width: 200px;
	}
	.feature .img-logo {
		background-size: 300px 43px;
	  	height: 43px;
	  	width: 300px;
	}
	.feature .btn-block {
		width: 310px;
		height: 60px;
	}

	.feature .btn-appstore {
		background-size: 150px 45px;
		width: 150px;
		height: 45px;
	}

	.feature .btn-googleplay {
		background-size: 150px 45px;
		width: 150px;
		height: 45px;
	}



}



/* info */
.info {
	padding: 50px 0;
}

.info .col-md-4 img {
	width: 70%;
	height: auto;
	border-radius: 300px;
	border: #4AC990 5px solid;
}
.info .col-md-4 h3 {
	color: #666666;
}
.info .col-md-4 h4 {
	width: 80%;
	margin: 0 auto;
	color: #666666;
}

@media (max-width: 991px) {
	.info .col-md-4 {
		margin-bottom: 50px;
	}
}

/* banner-1 */
.banner-1 {
	width: 100%;
	padding: 40px 0;
	background:#4AC990 url(../image/bg-banner-1.jpg);
  	background-size: cover;
}

/* About */

.about{
	padding: 50px 0;
}


.about .col-xs-6,
.about .col-md-4 {
	margin: 0 auto 60px auto;
}

.about .col-xs-6 img,
.about .col-md-4 img {
	width: 60%;
	height: auto;
	border-radius: 300px;
	border: #4AC990 5px solid;
}

.about .col-xs-6 h3,
.about .col-md-4 h3 {
	color: #666666;
	font-size: 24px;
}

.about .col-xs-6 h4,
.about .col-md-4 h4 {
	color: #999999;
	font-size: 20px;
}


@media (max-width: 767px) {
	.about .col-xs-6 h3,
	.about .col-md-4 h3 {
		color: #666666;
		font-size: 20px;
	}

	.about .col-xs-6 h4,
	.about .col-md-4 h4 {
		color: #999999;
		font-size: 16px;
	}
}

/* banner-2 */
.banner-2 {
	width: 100%;
	background: #39759C;
}


.banner-2 img {
	width: 100%;
	height: auto;
}


/* contact */
.contact {
	padding: 50px 0;
}

.contact .col-md-6 p {
	color: #FFF;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 30px;

}

.contact .col-md-6 p a,
.contact .col-md-6 p a:hover,
.contact .col-md-6 p a:focus {
	color: #FFF;
	text-decoration: none;
}

.contact .col-md-6 p a:hover,
.contact .col-md-6 p a:focus {
	color: #FFF;
	opacity: .8;
}


@media (max-width: 991px) {

	.contact .col-md-6 {
		margin-top: 15px;

	}
}

.contact .col-md-6 a.btn-lg {
	text-align: center;
	display: block;
	background: #FFF;
	width: 100%;
	height: 50px;
	border-radius: 50px;
	color: #37D690;
	font-size: 20px;
}

.contact .col-md-6 a.btn-lg:hover,
.contact .col-md-6 a.btn-lg:focus {
	text-decoration: none;
	color: #37D690 !important;
	opacity: .9;
}

/* Join */
.join {
	padding: 50px 0;
}

.join .join-block {
	border-radius: 10px;
	padding: 15px 30px;
	border: #CCCCCC 2px solid;
	color: #999999;
}

.join .join-block h4 {
	font-size: 20px;
}

.join .join-block {
	font-size: 18px;
	line-height: 28px;
}

.join .join-block img {
	margin-top: 50px;
}

.join .join-block .text-block {
	padding: 5px 15px;
	margin-right: 15px;
	border-radius: 50px;
	border: #CCCCCC 2px solid;
	float: left;
}
.join .join-block .text {
	float: left;
}


@media (max-width: 991px) {
	.join .join-block {
		margin: 0 20px;
	}
	.join .join-block img {
		margin-top: 0;
	}
	.join .join-block .col-md-10 {
		text-align: center;
	}
	.join .join-block .text-block {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.join .join-block .text {
		float: none;
	}
}

/* Terms & Privacy */
.termsprivacy {
	padding: 50px 0;
}


/*		Footer 		*/

footer{
	padding: 10px 0;
	text-align: center;
	background: #4AC990 url(../image/bg.jpg);
  	background-size: cover;
}

footer .copyright{
	margin-top: 5px;
	color: #FFF;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: .5px;
}




/* Back to top */

.cd-top {
  display: inline-block;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #1E8858 url(../image/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #1E8858;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
	right: 20px;
	bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
	height: 60px;
	width: 60px;
	right: 30px;
	bottom: 30px;
  }
}



/* Margin */

.m-top-0 { margin-top: 0 !important;}
.m-top-1 { margin-top: 12px !important;}
.m-top-2 { margin-top: 24px !important;}
.m-top-3 { margin-top: 36px !important;}
.m-top-4 { margin-top: 48px !important;}
.m-top-5 { margin-top: 60px !important;}
.m-top-6 { margin-top: 72px !important;}
.m-top-7 { margin-top: 84px !important;}
.m-top-8 { margin-top: 96px !important;}
.m-top-9 { margin-top: 108px !important;}
.m-top-10 { margin-top: 120px !important;}
.m-top-60 { margin-top: 60px !important;}
.m-top-95 { margin-top: 95px !important;}
.m-bottom-0 { margin-bottom: 0 !important;}
.m-bottom-1 { margin-bottom: 12px !important;}
.m-bottom-2 { margin-bottom: 24px !important;}
.m-bottom-3 { margin-bottom: 36px !important;}
.m-bottom-4 { margin-bottom: 48px !important;}
.m-bottom-5 { margin-bottom: 60px !important;}
.m-bottom-10 { margin-bottom: 120px !important;}
.m-left-0 { margin-left: 0 !important;}
.m-left-1 { margin-left: 12px !important;}
.m-left-2 { margin-left: 24px !important;}
.m-left-3 { margin-left: 36px !important;}
.m-left-4 { margin-left: 48px !important;}
.m-left-5 { margin-left: 60px !important;}
.m-left-6 { margin-left: 72px !important;}
.m-left-7 { margin-left: 84px !important;}
.m-left-8 { margin-left: 96px !important;}
.m-left-9 { margin-left: 108px !important;}
.m-left-10 { margin-left: 120px !important;}
.m-left-30 { margin-left: 30px !important;}
.m-right-0 { margin-right: 0 !important;}
.m-right-1 { margin-right: 12px !important;}
.m-right-2 { margin-right: 24px !important;}
.m-right-3 { margin-right: 36px !important;}
.m-right-4 { margin-right: 48px !important;}
.m-right-5 { margin-right: 60px !important;}
.m-right-30 { margin-right: 30px !important;}
.m-right-32 { margin-right: 32px !important;}
.m-center { margin: 0 auto;}
.m-0 {margin: 0 !important;}




.disable {	opacity: .5;}
